* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aktiv Grotesk', sans-serif;
    scroll-behavior: smooth;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



/* Header & Content
============================================================== */


header {
    width: auto;
    min-height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



/* Header Navbar
============================================================== */

header .navbar {
    width: auto;
    min-height: 80px;
    flex-direction: row;
    align-items: left;
    display: flex;
    justify-content: left;
    text-align: left;
    background: white;
    align-items: center;
    margin-bottom: 40px;
    box-shadow: 20px 20px 60px #d0d0d0,
    -20px -20px 60px #ffffff;
}

.navbar .logo_navbar {
    font-size: 2.85vw;
    font-weight: 700;
    font-style: italic;
    color: #381f64;
    float: left;
    padding-left: 5vw;
    padding-right: 6vw;
}

.logo_navbar:hover {
    color: #e610c9;
    cursor: pointer;
}

.navbar p a {
    font-size: 1.45vw;
    font-weight: 500;
    color: #381f64;
    float: left;
    margin-right: 3vw;
    text-decoration: none;
}

.navbar a:hover {
    color: #e610c9;
}


/* HERO_RIDING */


header .hero_riding {
    width: 100%;
    min-height: 560px;
}

.hero_riding .headline {
    margin-top: 65px;
    font-size: 16rem;
    font-weight: 700;
    font-style: italic;
    justify-content: center;
    letter-spacing: -6px;
    text-align: center;
    color: #e610c9;
    z-index: -10000;
}


.hero_riding .sub_headline {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
    color: #381f64;
    margin-top: 42px;
    margin-bottom: 25px;
    z-index: -10000;
}

.hero_riding img {
    display: flex;
    align-content: right;
    position: absolute;
    top: 300px;
    width: 34vw;
    right: -90px;
    animation: ride 4.5s linear infinite;
}

@keyframes ride {
    0% {
        transform: translateX(50);
    }
    50% {
        transform: translateX(70);
    }
    100% {
        transform: translateX(-110vw);
    }
}


/* Subhead section #1
============================================================== */


.subhead1 {
    width: auto;
    min-height: 80vh;
    border: 46px solid white;
    background: #ffc2d9;
}

.subhead1 .subhead1_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* subhead1_left */

.subhead1_wrapper .subhead1_left {
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.subhead1_left #sub1_left {
    padding-top: 30px;
    font-size: 3.85vw;
    font-weight: 700;
    padding-left: 35px;
    text-align: left;
    letter-spacing: -1px;
    color: #381f64;
}

#sub1_left span {
    color: #e610c9;
    font-style: italic;
}

.subhead1_left #caption1_left {
    padding-top: 20px;
    font-size: 1.4vw;
    font-weight: 300;
    padding-left: 35px;
    text-align: left;
    letter-spacing: 0px;
    color: #381f64;
}

/* subhead1_main */

.subhead1_wrapper .subhead1_main {
    width: 30%;
    height: auto;
}

.subhead1_main .subhead1_iphone_main img {
    width: auto;
    height: 46vw;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-self: center;
}

/* subhead1_right */

.subhead1_wrapper .subhead1_right {
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.subhead1_right #sub1_right {
    padding: 30px 35px 45px 35px;
    font-size: 2.25vw;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0px;
    color: #381f64;
}

#sub1_right #store_btn1 img {
    width: auto;
    height: 2vw;
}



/* Subhead section #2
============================================================== */


.subhead2 {
    width: auto;
    min-height: 80vh;
    border: 46px solid white;
    background: #381f64;
}

.subhead2 .subhead2_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* subhead2_left */

.subhead2_wrapper .subhead2_left {
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.subhead2_left #sub2_left {
    padding-top: 30px;
    font-size: 3.85vw;
    font-weight: 700;
    padding-left: 35px;
    text-align: left;
    letter-spacing: -1px;
    color: #ffffff;
}

#sub2_left span {
    color: #e610c9;
    font-style: italic;
}

.subhead2_left #caption2_left {
    padding-top: 20px;
    font-size: 1.4vw;
    font-weight: 300;
    padding-left: 35px;
    text-align: left;
    letter-spacing: 0px;
    color: #969696;
}

/* subhead2_main */

.subhead2_wrapper .subhead2_main {
    width: 30%;
    height: auto;
}

.subhead2_main .subhead2_iphone_main img {
    width: auto;
    height: 46vw;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-self: center;
}

/* subhead2_right */

.subhead2_wrapper .subhead2_right {
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.subhead2_right #sub2_right {
    padding: 30px 35px 45px 35px;
    font-size: 2.25vw;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0px;
    color: #969696;
}

#sub2_right #store_btn2 img {
    width: auto;
    height: 2vw;
}



/* Subhead section #3
============================================================== */


.subhead3 {
    width: auto;
    min-height: 108vh;
    margin-top: 40px;
    background: #ffffff;
    margin-bottom: 40px;
}

.subhead3 .text_subhead3 {
    padding-top: 50px;
    padding-bottom: 40px;
}

.text_subhead3 #subhead3_title {
    font-size: 3.85vw;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    color: #381f64;
}

#subhead3_title span {
    color: #e610c9;
    font-style: italic;
    padding: 0 15px;
}

/* subhead3_wrapper */

.subhead3 .subhead3_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* subhead3_left */

.subhead3_wrapper .subhead3_left {
    width: 33%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.subhead3_left .car-subhead3_left {
    padding-top: 20px;
    padding-left: 35px;
}

.car-subhead3_left img {
    width: auto;
    height: 20vw;
    justify-content: center;
    align-self: center;
}

.car-subhead3_left img:hover {
    transition: transform 100ms;
    transform: scale(1.05);
    cursor: pointer;
}

.subhead3_left #subhead3_title_left {
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-align: center;
    color: #381f64;
}

#subhead3_title_left #suv {
    font-size: 2vw;
    font-weight: 700;
    font-style: italic;
    padding-left: 3px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #e610c9;
}

#subhead3_caption_left {
    padding-top: 20px;
    font-size: 1.25vw;
    font-weight: 300;
    padding: 18px 35px 20px 45px;
    text-align: left;
    letter-spacing: 0px;
    color: #707070;
}

/* subhead3_center */

.subhead3_wrapper .subhead3_center {
    width: 33%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.subhead3_center .car-subhead3_center {
    padding-top: 20px;
    padding-left: 35px;
}

.car-subhead3_center img {
    width: auto;
    height: 20vw;
    justify-content: center;
    align-self: center;
}

.car-subhead3_center img:hover {
    transition: transform 100ms;
    transform: scale(1.05);
    cursor: pointer;
}

.subhead3_center #subhead3_title_center {
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-align: center;
    color: #381f64;
}

#subhead3_title_center #prime {
    font-size: 2vw;
    font-weight: 700;
    font-style: italic;
    padding-left: 3px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #e610c9;
}

#subhead3_caption_center {
    padding-top: 20px;
    font-size: 1.25vw;
    font-weight: 300;
    padding: 18px 35px 20px 45px;
    text-align: left;
    letter-spacing: 0px;
    color: #707070;
}

/* subhead3_right */

.subhead3_wrapper .subhead3_right {
    width: 33%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.subhead3_right .car-subhead3_right {
    padding-top: 20px;
    padding-left: 35px;
}

.car-subhead3_right img {
    width: auto;
    height: 20vw;
    justify-content: center;
    align-self: center;
}

.car-subhead3_right img:hover {
    transition: transform 100ms;
    transform: scale(1.05);
    cursor: pointer;
}

.subhead3_right #subhead3_title_right {
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-align: center;
    color: #381f64;
}

#subhead3_title_right #cool {
    font-size: 2vw;
    font-weight: 700;
    font-style: italic;
    padding-left: 3px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #e610c9;
}

#subhead3_caption_right {
    padding-top: 20px;
    font-size: 1.25vw;
    font-weight: 300;
    padding: 18px 35px 20px 45px;
    text-align: left;
    letter-spacing: 0px;
    color: #707070;
}



/* Footer
============================================================== */


footer {
    width: auto;
    min-height: 80vh;
    background: #f5f5f5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .footer_title-text {
    padding-top: 38px;
    /*padding-left: 10%;*/
    font-size: 2.15vw;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    color: #381f64;
    padding-bottom: 18px;
}

.footer_title-text span {
    padding-right: 12px;
    font-weight: 700;
    font-style: italic;
    color: #e610c9;
}

/* Horizontal line */

footer .horizontal_line {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: #818181;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: opacity(10%);
}

/* Footer column-wrapper */

footer .footer_links_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Footer left-column */

.footer_links_wrapper .footer_left-column {
    width: 50%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.footer_left-column #footer_left-text {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-align: center;
    color: #381f64;
}

.footer_left-column .social_icons img {
    filter: grayscale(100%);
}

.social_icons img {
    padding-top: 25px;
    padding-left: 10px;
}

.social_icons img:hover {
    filter: grayscale(0%);
}

/* ul global setting */

ul {
    list-style: none;
    text-align: left;
    line-height: 28px;
}

/* Footer center-column */

.footer_links_wrapper .footer_center-column {
    width: 25%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.footer_center-column #footer_center-title {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-align: left;
    color: #381f64;
}

.footer_center-column .footer_center_links li a {
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 300;
    padding-top: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #525252;
}

/* Footer right-column */

.footer_links_wrapper .footer_right-column {
    width: 25%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;
}

.footer_right-column #footer_right-title {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-align: left;
    color: #e610c9;
}

.footer_right-column .footer_right_links li a {
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 300;
    padding-top: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #525252;
}

li:hover {
    text-decoration: underline;
}

/* Horizontal line bottom */

footer .horizontal_line_bottom {
    margin-top: 50px;
    width: 100%;
    height: 1px;
    background: #818181;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: opacity(10%);
}

footer .copyright_text {
    text-decoration: none;
    font-size: 1.25vw;
    font-weight: 300;
    padding: 20px 0px;
    text-align: center;
    letter-spacing: 0px;
    color: #525252;
}

.copyright_text span {
    padding-left: 45px;
}




/* Reponsiveness of the layout
=============================== */


/* 1100px SCREEN */


@media screen and (max-width: 1100px) {
    header {
        width: auto;
        min-height: 500px;
    }

    header .navbar {
        margin-bottom: 25px;
        box-shadow: 12px 12px 45px #d0d0d0,
        -12px -12px 45px #ffffff;;
    }

    .navbar p a {
        font-size: 1.2rem;
        font-weight: 300;
    }

    header .hero_riding {
        width: auto;
        height: 420px;
    }

    .hero_riding .headline {
        margin-top: 100px;
        font-size: 13rem;
        font-weight: 700;
        letter-spacing: -0.1px;
        z-index: -10000;
    }

    .hero_riding .sub_headline {
        font-size: 1.65rem;
        line-height: 2.25rem;
        margin-top: 65px;
        margin-bottom: 70px;
        z-index: -10000;
    }

    .hero_riding img {
        top: 300px;
        width: 35vw;
        right: -90px;
    }

    .subhead1 {
        min-height: 610px;
    }

    .subhead1 .subhead1_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    /* subhead1_left */
    
    .subhead1_wrapper .subhead1_left {
        width: 35%;
        min-height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: left;
    }

    .subhead1_left #sub1_left {
        font-size: 2.9rem;
    }

    .subhead1_left #caption1_left {
        font-size: 1.25rem;
        line-height: 1.65rem;
    }

    .subhead1_right #sub1_right {
        padding: 30px 35px 40px 25px;
        font-size: 1.5rem;
    }

    #sub1_right #store_btn1 img {
        width: auto;
        height: 0.45vw;
    }

    .subhead2 {
        min-height: 610px;
    }

    .subhead2_left #sub2_left {
        font-size: 2.9rem;
    }

    .subhead2_left #caption2_left {
        font-size: 1.25rem;
        line-height: 1.65rem;
    }

    .subhead2_right #sub2_right {
        padding: 30px 35px 40px 25px;
        font-size: 1.5rem;
    }

    #sub2_right #store_btn2 img {
        width: auto;
        height: 0.45vw;
    }

    .subhead3 {
        min-height: 750px;
    }

    .text_subhead3 #subhead3_title {
        font-size: 2.6rem;
    }

    .subhead3_left #subhead3_title_left {
        font-size: 1.5rem;
    }
    
    #subhead3_title_left #suv {
        font-size: 1.5rem;
    }
    
    #subhead3_caption_left {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    
    .subhead3_center #subhead3_title_center {
        font-size: 1.5rem;
    }
    
    #subhead3_title_center #prime {
        font-size: 1.5rem;
    }
    
    #subhead3_caption_center {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    
    .subhead3_right #subhead3_title_right {
        font-size: 1.5rem;
    }
    
    #subhead3_title_right #cool {
        font-size: 1.5rem;
    }
    
    #subhead3_caption_right {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    footer {
        width: auto;
        min-height: 530px;
    }
}



/* 901-1099px SCREEN */





/* 900px SCREEN */


@media screen and (max-width: 900px) {
    header {
        width: auto;
        height: 520px;
    }

    header .navbar {
        margin-bottom: 25px;
        box-shadow: 12px 12px 45px #d0d0d0,
        -12px -12px 45px #ffffff;;
    }

    .navbar p a {
        font-size: 1.75vw;
        font-weight: 500;
    }

    header .navbar {
        width: auto;
        min-height: 80px;
        box-shadow: 12px 12px 45px #d0d0d0,
        -12px -12px 45px #ffffff;
    }

    header .hero_riding {
        width: auto;
        height: 440px;
    }

    .hero_riding .headline {
        margin-top: 80px;
        font-size: 11rem;
        font-weight: 700;
        letter-spacing: -0.1px;
        z-index: -10000;
    }

    .hero_riding .sub_headline {
        font-size: 1.25rem;
        line-height: 1.8rem;
        margin-top: 35px;
        margin-bottom: 70px;
        z-index: -10000;
    }

    .hero_riding img {
        top: 250px;
        width: 34vw;
    }

    .subhead1 {
        height: 520px;
        border: 40px solid white;
    }

    .subhead1_left #sub1_left {
        font-size: 2.5rem;
    }

    .subhead1_left #caption1_left {
        font-size: 1rem;
    }

    .subhead1_right #sub1_right {
        font-size: 1.5rem;
    }

    #sub1_right #store_btn1 img {
        height: 1.8vw;
    }

    .subhead2 {
        height: 520px;
        border: 40px solid white;
    }

    .subhead2_left #sub2_left {
        font-size: 2.5rem;
    }

    .subhead2_left #caption2_left {
        font-size: 1rem;
    }

    .subhead2_right #sub2_right {
        font-size: 1.5rem;
    }

    #sub2_right #store_btn2 img {
        height: 1.8vw;
    }

    .subhead3 {
        min-height: 480px;
        margin-top: 25px;
        background: #ffffff;
        margin-bottom: 25px;
    }

    .subhead3 {
        width: auto;
        min-height: 108vh;
        margin-top: 40px;
        background: #ffffff;
        margin-bottom: 40px;
    }
    
    .subhead3 .text_subhead3 {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .text_subhead3 #subhead3_title {
        font-size: 3.85vw;
        font-weight: 700;
        text-align: center;
        letter-spacing: -1px;
        color: #381f64;
    }
    
    #subhead3_title span {
        color: #e610c9;
        font-style: italic;
        padding: 0 15px;
    }
    
    /* subhead3_wrapper */
    
    .subhead3 .subhead3_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    /* subhead3_left */
    
    .subhead3_wrapper .subhead3_left {
        width: 33%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead3_left .car-subhead3_left {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_left img {
        width: auto;
        height: 20vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_left img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_left #subhead3_title_left {
        font-size: 2.5vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    #subhead3_title_left #suv {
        font-size: 2.5vw;
        font-weight: 700;
        font-style: italic;
        padding-left: 3px;
        letter-spacing: -0.3px;
        text-align: center;
        color: #e610c9;
    }
    
    #subhead3_caption_left {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    /* subhead3_center */
    
    .subhead3_wrapper .subhead3_center {
        width: 33%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead3_center .car-subhead3_center {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_center img {
        width: auto;
        height: 20vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_center img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_center #subhead3_title_center {
        font-size: 2.5vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    #subhead3_title_center #prime {
        font-size: 2.5vw;
        font-weight: 700;
        font-style: italic;
        padding-left: 3px;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    #subhead3_caption_center {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    /* subhead3_right */
    
    .subhead3_wrapper .subhead3_right {
        width: 33%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead3_right .car-subhead3_right {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_right img {
        width: auto;
        height: 20vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_right img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_right #subhead3_title_right {
        font-size: 2.5vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    #subhead3_title_right #cool {
        font-size: 2.5vw;
    }
    
    #subhead3_caption_right {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    footer {
        width: auto;
        min-height: 500px;
    }
}



/* 701px-899px SCREEN */

@media screen and (min-width: 701px) {
    .subhead1 {
        min-height: 480px;
    }

    .subhead1_left #sub1_left {
        font-size: 1.9rem;
    }

    .subhead1_left #caption1_left {
        font-size: 0.9rem;
        line-height: 1.35rem;
    }

    .subhead2 {
        min-height: 480px;
    }

    .subhead2_left #sub2_left {
        font-size: 1.9rem;
    }

    .subhead2_left #caption2_left {
        font-size: 0.9rem;
        line-height: 1.35rem;
    }
}


/* 700px SCREEN */


@media screen and (max-width: 700px) {


    /* SECTION #1 */


    header {
        min-height: 460px;
    }

    header .navbar {
        width: auto;
        min-height: 80px;
        box-shadow: 12px 12px 45px #d0d0d0,
        -12px -12px 45px #ffffff;
    }

    header .hero_riding {
        width: auto;
        height: 380px;
    }

    .hero_riding .headline {
        margin-top: 100px;
        font-size: 10rem;
        font-weight: 700;
        letter-spacing: -0.1px;
        z-index: -10000;
    }

    .hero_riding img {
        top: 250px;
        width: 42vw;
        right: -90px;
    }

    /* Subhead 1 */

    .subhead1 {
        min-height: 1200px;
        border: 40px solid white;
    }

    .subhead1 .subhead1_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subhead1_wrapper .subhead1_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
    }
    
    .subhead1_left #sub1_left {
        padding-top: 20px;
        font-size: 6.5vw;
        font-weight: 700;
        padding-left: 9px;
        text-align: center;
    }

    .subhead1_left #caption1_left {
        padding: 20px 35px;
        font-size: 3.25vw;
        text-align: center;
        letter-spacing: 0px;
        color: #381f64;
    }

    .subhead1_wrapper .subhead1_main {
        width: 80%;
        height: auto;
        margin-top: 0px;
    }
    
    .subhead1_main .subhead1_iphone_main img {
        width: auto;
        height: 72vw;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-self: center;
    }

    .subhead1_wrapper .subhead1_right {
        width: 85%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead1_right #sub1_right {
        padding: 30px 35px 30px 25px;
        font-size: 3.65vw;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0px;
        color: #381f64;
    }

    #sub1_right #store_btn1 img {
        height: 1.75vw;
    }


    /* SECTION #2 */


    .subhead2 {
        min-height: 1200px;
        border: 40px solid white;
    }

    .subhead2 .subhead2_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subhead2_wrapper .subhead2_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
    }

    .subhead2_left #sub2_left {
        padding-top: 20px;
        font-size: 6.5vw;
        font-weight: 700;
        padding-left: 9px;
        text-align: center;
    }

    .subhead2_left #caption2_left {
        padding: 20px 35px;
        font-size: 3.25vw;
        text-align: center;
    }

    .subhead2_wrapper .subhead2_main {
        width: 80%;
        height: auto;
        margin-top: 0px;
    }
    
    .subhead2_main .subhead2_iphone_main img {
        width: auto;
        height: 72vw;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-self: center;
    }

    .subhead2_wrapper .subhead2_right {
        width: 85%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead2_right #sub2_right {
        padding: 30px 35px 30px 25px;
        font-size: 3.65vw;
        font-weight: 400;
        text-align: center;
    }

    #sub2_right #store_btn2 img {
        height: 1.75vw;
    }


    /* SECTION #3 */


    .subhead3 {
        min-height: 1900px;
        margin-top: 100px;
        background: #ffffff;
        margin-bottom: 16vh;
    }
    
    .subhead3 .text_subhead3 {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .text_subhead3 #subhead3_title {
        font-size: 6.5vw;
        font-weight: 700;
        text-align: center;
    }
    
    #subhead3_title span {
        color: #e610c9;
    }
    
    /* subhead3_wrapper */
    
    .subhead3 .subhead3_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* subhead3_left */
    
    .subhead3_wrapper .subhead3_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_left .car-subhead3_left {
        padding-top: 10px;
    }
    
    .car-subhead3_left img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_left img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_left #subhead3_title_left {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    #subhead3_title_left #suv {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    #subhead3_caption_left {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
    }
    
    /* subhead3_center */
    
    .subhead3_wrapper .subhead3_center {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_center .car-subhead3_center {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_center img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_center img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_center #subhead3_title_center {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    #subhead3_title_center #prime {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    #subhead3_caption_center {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
    }
    
    /* subhead3_right */
    
    .subhead3_wrapper .subhead3_right {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_right .car-subhead3_right {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_right img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_right img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_right #subhead3_title_right {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    #subhead3_title_right #cool {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    #subhead3_caption_right {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
    }


    /* FOOTER */



    footer {
        width: auto;
        min-height: 1450px;
        background: #f5f5f5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    footer .footer_title-text {
        padding-top: 38px;
        font-size: 4.75vw;
        font-weight: 700;
        text-align: center;
        letter-spacing: -1px;
        color: #381f64;
        padding-bottom: 18px;
    }
    
    .footer_title-text span {
        padding-right: 10px;
        font-weight: 700;
        font-style: italic;
        color: #e610c9;
    }
    
    /* Horizontal line */
    
    footer .horizontal_line {
        margin-top: 20px;
        width: 100%;
        height: 1px;
        background: #818181;
        align-items: center;
        justify-content: center;
        text-align: center;
        filter: opacity(10%);
    }
    
    /* Footer column-wrapper */
    
    footer .footer_links_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* Footer left-column */
    
    .footer_links_wrapper .footer_left-column {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
        align-items: center;
    }
    
    .footer_left-column #footer_left-text {
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 4vw;
        font-weight: 500;
        letter-spacing: -0.3px;
        text-align: center;
    }
    
    .footer_left-column .social_icons img {
        filter: grayscale(100%);
    }
    
    .social_icons img {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    
    .social_icons img:hover {
        filter: grayscale(0%);
    }
    
    /* ul global setting */
    
    ul {
        list-style: none;
        text-align: left;
        line-height: 45px;
    }
    
    /* Footer center-column */
    
    .footer_links_wrapper .footer_center-column {
        width: 80%;
        height: auto;
        padding-left: 50px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .footer_center-column #footer_center-title {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 4vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: left;
    }
    
    .footer_center-column .footer_center_links li a {
        text-decoration: none;
        font-size: 3.75vw;
        font-weight: 300;
        padding-top: 15px;
        text-align: left;
    }
    
    /* Footer right-column */
    
    .footer_links_wrapper .footer_right-column {
        width: 80%;
        height: auto;
        padding-left: 50px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .footer_right-column #footer_right-title {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 4vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: left;
        color: #e610c9;
    }
    
    .footer_right-column .footer_right_links li a {
        text-decoration: none;
        font-size: 3.75vw;
        font-weight: 300;
        padding-top: 15px;
        text-align: left;
    }
    
    li:hover {
        text-decoration: underline;
    }
    
    /* Horizontal line bottom */
    
    footer .horizontal_line_bottom {
        margin-top: 50px;
        width: 100%;
        height: 1px;
        background: #818181;
        align-items: center;
        justify-content: center;
        text-align: center;
        filter: opacity(10%);
    }
    
    footer .copyright_text {
        text-decoration: none;
        font-size: 2.5vw;
        font-weight: 300;
    }
    
    .copyright_text span {
        padding-left: 20px;
    }
}




/* 600px SCREEN */



@media screen and (max-width: 600px) {
    
    /* SECTION #1 */

    header {
        min-height: 400px;
    }

    header .navbar {
        width: auto;
        min-height: 80px;
        box-shadow: 12px 12px 45px #d0d0d0,
        -12px -12px 45px #ffffff;
    }

    header .hero_riding {
        width: auto;
        height: 320px;
    }

    .hero_riding .headline {
        margin-top: 100px;
        font-size: 8rem;
        font-weight: 700;
        letter-spacing: -0.1px;
        z-index: -10000;
    }

    .hero_riding img {
        top: 250px;
        width: 46vw;
        right: -90px;
    }

    /* Subhead 1 */

    .subhead1 {
        min-height: 1060px;
        border: 40px solid white;
    }

    .subhead1 .subhead1_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subhead1_wrapper .subhead1_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
    }
    
    .subhead1_left #sub1_left {
        padding-top: 20px;
        font-size: 6.5vw;
        font-weight: 700;
        padding-left: 9px;
        text-align: center;
    }

    .subhead1_left #caption1_left {
        padding: 20px 35px;
        font-size: 3.25vw;
        text-align: center;
        letter-spacing: 0px;
        color: #381f64;
    }

    .subhead1_wrapper .subhead1_main {
        width: 80%;
        height: auto;
        margin-top: 0px;
    }
    
    .subhead1_main .subhead1_iphone_main img {
        width: auto;
        height: 72vw;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-self: center;
    }

    .subhead1_wrapper .subhead1_right {
        width: 85%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead1_right #sub1_right {
        padding: 30px 35px 30px 25px;
        font-size: 3.65vw;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0px;
        color: #381f64;
    }

    #sub1_right #store_btn1 img {
        height: 1.75vw;
    }


    /* SECTION #2 */


    .subhead2 {
        min-height: 1060px;
        border: 40px solid white;
    }

    .subhead2 .subhead2_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subhead2_wrapper .subhead2_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
    }

    .subhead2_left #sub2_left {
        padding-top: 20px;
        font-size: 6.5vw;
        font-weight: 700;
        padding-left: 9px;
        text-align: center;
    }

    .subhead2_left #caption2_left {
        padding: 20px 35px;
        font-size: 3.25vw;
        text-align: center;
        letter-spacing: 0px;
    }

    .subhead2_wrapper .subhead2_main {
        width: 80%;
        height: auto;
        margin-top: 0px;
    }
    
    .subhead2_main .subhead2_iphone_main img {
        width: auto;
        height: 72vw;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-self: center;
    }

    .subhead2_wrapper .subhead2_right {
        width: 85%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead2_right #sub2_right {
        padding: 30px 35px 30px 25px;
        font-size: 3.65vw;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0px;
    }

    #sub2_right #store_btn2 img {
        height: 1.75vw;
    }


    /* SECTION #3 */


    .subhead3 {
        min-height: 1620px;
        margin-top: 50px;
        background: #ffffff;
        margin-bottom: 16vh;
    }
    
    .subhead3 .text_subhead3 {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .text_subhead3 #subhead3_title {
        font-size: 6.5vw;
        font-weight: 700;
        text-align: center;
        letter-spacing: -1px;
        color: #381f64;
    }
    
    #subhead3_title span {
        color: #e610c9;
        font-style: italic;
        padding: 0 10px;
    }
    
    /* subhead3_wrapper */
    
    .subhead3 .subhead3_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* subhead3_left */
    
    .subhead3_wrapper .subhead3_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_left .car-subhead3_left {
        padding-top: 10px;
    }
    
    .car-subhead3_left img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_left img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_left #subhead3_title_left {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    #subhead3_title_left #suv {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #e610c9;
    }
    
    #subhead3_caption_left {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
        letter-spacing: 0px;
        color: #707070;
    }
    
    /* subhead3_center */
    
    .subhead3_wrapper .subhead3_center {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_center .car-subhead3_center {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_center img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_center img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_center #subhead3_title_center {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    #subhead3_title_center #prime {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #e610c9;
    }
    
    #subhead3_caption_center {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
        letter-spacing: 0px;
        color: #707070;
    }
    
    /* subhead3_right */
    
    .subhead3_wrapper .subhead3_right {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_right .car-subhead3_right {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_right img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_right img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_right #subhead3_title_right {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    #subhead3_title_right #cool {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #e610c9;
    }
    
    #subhead3_caption_right {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
        letter-spacing: 0px;
        color: #707070;
    }


    /* FOOTER */



    footer {
        width: auto;
        min-height: 1400px;
        background: #f5f5f5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    footer .footer_title-text {
        padding-top: 38px;
        font-size: 4.75vw;
        font-weight: 700;
        text-align: center;
        letter-spacing: -1px;
        color: #381f64;
        padding-bottom: 18px;
    }
    
    .footer_title-text span {
        padding-right: 10px;
        font-weight: 700;
        font-style: italic;
        color: #e610c9;
    }
    
    /* Horizontal line */
    
    footer .horizontal_line {
        margin-top: 20px;
        width: 100%;
        height: 1px;
        background: #818181;
        align-items: center;
        justify-content: center;
        text-align: center;
        filter: opacity(10%);
    }
    
    /* Footer column-wrapper */
    
    footer .footer_links_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* Footer left-column */
    
    .footer_links_wrapper .footer_left-column {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
        align-items: center;
    }
    
    .footer_left-column #footer_left-text {
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 4vw;
        font-weight: 500;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    .footer_left-column .social_icons img {
        filter: grayscale(100%);
    }
    
    .social_icons img {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    
    .social_icons img:hover {
        filter: grayscale(0%);
    }
    
    /* ul global setting */
    
    ul {
        list-style: none;
        text-align: left;
        line-height: 45px;
    }
    
    /* Footer center-column */
    
    .footer_links_wrapper .footer_center-column {
        width: 80%;
        height: auto;
        padding-left: 50px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .footer_center-column #footer_center-title {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 4vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: left;
        color: #381f64;
    }
    
    .footer_center-column .footer_center_links li a {
        text-decoration: none;
        font-size: 3.75vw;
        font-weight: 300;
        padding-top: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #525252;
    }
    
    /* Footer right-column */
    
    .footer_links_wrapper .footer_right-column {
        width: 80%;
        height: auto;
        padding-left: 50px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .footer_right-column #footer_right-title {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 4vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: left;
        color: #e610c9;
    }
    
    .footer_right-column .footer_right_links li a {
        text-decoration: none;
        font-size: 3.75vw;
        font-weight: 300;
        padding-top: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #525252;
    }
    
    li:hover {
        text-decoration: underline;
    }
    
    /* Horizontal line bottom */
    
    footer .horizontal_line_bottom {
        margin-top: 50px;
        width: 100%;
        height: 1px;
        background: #818181;
        align-items: center;
        justify-content: center;
        text-align: center;
        filter: opacity(10%);
    }
    
    footer .copyright_text {
        text-decoration: none;
        font-size: 2.5vw;
        font-weight: 300;
    }
    
    .copyright_text span {
        padding-left: 20px;
    }
}



/* 500px SCREEN */


@media screen and (max-width: 500px) {
    
    /* SECTION #1 */

    header {
        min-height: 400px;
    }

    header .navbar {
        width: auto;
        min-height: 80px;
        box-shadow: 12px 12px 45px #d0d0d0,
        -12px -12px 45px #ffffff;
    }

    header .hero_riding {
        width: auto;
        height: 320px;
    }

    .hero_riding .headline {
        margin-top: 100px;
        font-size: 8rem;
        font-weight: 700;
        letter-spacing: -0.1px;
        z-index: -10000;
    }

    .hero_riding img {
        top: 250px;
        width: 46vw;
        right: -90px;
    }

    /* Subhead 1 */

    .subhead1 {
        min-height: 960px;
        border: 35px solid white;
    }

    .subhead1 .subhead1_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subhead1_wrapper .subhead1_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
    }
    
    .subhead1_left #sub1_left {
        padding-top: 20px;
        font-size: 6.5vw;
        font-weight: 700;
        padding-left: 9px;
        text-align: center;
    }

    .subhead1_left #caption1_left {
        padding: 20px 35px;
        font-size: 3.25vw;
        text-align: center;
        letter-spacing: 0px;
        color: #381f64;
    }

    .subhead1_wrapper .subhead1_main {
        width: 80%;
        height: auto;
        margin-top: 0px;
    }
    
    .subhead1_main .subhead1_iphone_main img {
        width: auto;
        height: 72vw;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-self: center;
    }

    .subhead1_wrapper .subhead1_right {
        width: 85%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead1_right #sub1_right {
        padding: 30px 35px 30px 25px;
        font-size: 3.65vw;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0px;
        color: #381f64;
    }

    #sub1_right #store_btn1 img {
        height: 1.75vw;
    }


    /* SECTION #2 */


    .subhead2 {
        min-height: 960px;
        border: 35px solid white;
    }

    .subhead2 .subhead2_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subhead2_wrapper .subhead2_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
    }

    .subhead2_left #sub2_left {
        padding-top: 20px;
        font-size: 6.5vw;
        font-weight: 700;
        padding-left: 9px;
        text-align: center;
    }

    .subhead2_left #caption2_left {
        padding: 20px 35px;
        font-size: 3.25vw;
        text-align: center;
        letter-spacing: 0px;
    }

    .subhead2_wrapper .subhead2_main {
        width: 80%;
        height: auto;
        margin-top: 0px;
    }
    
    .subhead2_main .subhead2_iphone_main img {
        width: auto;
        height: 72vw;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-self: center;
    }

    .subhead2_wrapper .subhead2_right {
        width: 85%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .subhead2_right #sub2_right {
        padding: 30px 35px 30px 25px;
        font-size: 3.65vw;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0px;
    }

    #sub2_right #store_btn2 img {
        height: 1.75vw;
    }


    /* SECTION #3 */


    .subhead3 {
        min-height: 1440px;
        margin-top: 50px;
        background: #ffffff;
        margin-bottom: 16vh;
    }
    
    .subhead3 .text_subhead3 {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .text_subhead3 #subhead3_title {
        font-size: 6.5vw;
        font-weight: 700;
        text-align: center;
        letter-spacing: -1px;
        color: #381f64;
    }
    
    #subhead3_title span {
        color: #e610c9;
        font-style: italic;
        padding: 0 10px;
    }
    
    /* subhead3_wrapper */
    
    .subhead3 .subhead3_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* subhead3_left */
    
    .subhead3_wrapper .subhead3_left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_left .car-subhead3_left {
        padding-top: 10px;
    }
    
    .car-subhead3_left img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_left img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_left #subhead3_title_left {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    #subhead3_title_left #suv {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #e610c9;
    }
    
    #subhead3_caption_left {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
        letter-spacing: 0px;
        color: #707070;
    }
    
    /* subhead3_center */
    
    .subhead3_wrapper .subhead3_center {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_center .car-subhead3_center {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_center img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_center img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_center #subhead3_title_center {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    #subhead3_title_center #prime {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #e610c9;
    }
    
    #subhead3_caption_center {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
        letter-spacing: 0px;
        color: #707070;
    }
    
    /* subhead3_right */
    
    .subhead3_wrapper .subhead3_right {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
    }
    
    .subhead3_right .car-subhead3_right {
        padding-top: 20px;
        padding-left: 35px;
    }
    
    .car-subhead3_right img {
        width: auto;
        height: 45vw;
        justify-content: center;
        align-self: center;
    }
    
    .car-subhead3_right img:hover {
        transition: transform 100ms;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .subhead3_right #subhead3_title_right {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    #subhead3_title_right #cool {
        font-size: 4.75vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        color: #e610c9;
    }
    
    #subhead3_caption_right {
        padding-top: 20px;
        font-size: 3.25vw;
        font-weight: 300;
        padding: 20px 55px;
        text-align: center;
        letter-spacing: 0px;
        color: #707070;
    }


    /* FOOTER */



    footer {
        width: auto;
        min-height: 1360px;
        background: #f5f5f5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    footer .footer_title-text {
        padding-top: 38px;
        /*padding-left: 10%;*/
        font-size: 4.75vw;
        font-weight: 700;
        text-align: center;
        letter-spacing: -1px;
        color: #381f64;
        padding-bottom: 18px;
    }
    
    .footer_title-text span {
        padding-right: 10px;
        font-weight: 700;
        font-style: italic;
        color: #e610c9;
    }
    
    /* Horizontal line */
    
    footer .horizontal_line {
        margin-top: 20px;
        width: 100%;
        height: 1px;
        background: #818181;
        align-items: center;
        justify-content: center;
        text-align: center;
        filter: opacity(10%);
    }
    
    /* Footer column-wrapper */
    
    footer .footer_links_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* Footer left-column */
    
    .footer_links_wrapper .footer_left-column {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
        align-items: center;
    }
    
    .footer_left-column #footer_left-text {
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 4vw;
        font-weight: 500;
        letter-spacing: -0.3px;
        text-align: center;
        color: #381f64;
    }
    
    .footer_left-column .social_icons img {
        filter: grayscale(100%);
    }
    
    .social_icons img {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    
    .social_icons img:hover {
        filter: grayscale(0%);
    }
    
    /* ul global setting */
    
    ul {
        list-style: none;
        text-align: left;
        line-height: 45px;
    }
    
    /* Footer center-column */
    
    .footer_links_wrapper .footer_center-column {
        width: 80%;
        height: auto;
        padding-left: 50px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .footer_center-column #footer_center-title {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 4vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: left;
        color: #381f64;
    }
    
    .footer_center-column .footer_center_links li a {
        text-decoration: none;
        font-size: 3.75vw;
        font-weight: 300;
        padding-top: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #525252;
    }
    
    /* Footer right-column */
    
    .footer_links_wrapper .footer_right-column {
        width: 80%;
        height: auto;
        padding-left: 50px;
        padding-bottom: 20px;
        align-items: left;
    }
    
    .footer_right-column #footer_right-title {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 4vw;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: left;
        color: #e610c9;
    }
    
    .footer_right-column .footer_right_links li a {
        text-decoration: none;
        font-size: 3.75vw;
        font-weight: 300;
        padding-top: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #525252;
    }
    
    li:hover {
        text-decoration: underline;
    }
    
    /* Horizontal line bottom */
    
    footer .horizontal_line_bottom {
        margin-top: 50px;
        width: 100%;
        height: 1px;
        background: #818181;
        align-items: center;
        justify-content: center;
        text-align: center;
        filter: opacity(10%);
    }
    
    footer .copyright_text {
        text-decoration: none;
        font-size: 2.5vw;
        font-weight: 300;
    }
    
    .copyright_text span {
        padding-left: 20px;
    }
}
